* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

.container-fluid {
    font-family: 'Roboto', sans-serif;
}

.digipartner__logo {
    margin-top: 20px;
}

.slide {
    height: 500px;
    background-image: url(../imagenes/agencia-home.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    font-size: 70px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.index__titulo {

    font-size: 150px;
    text-align: center;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;



}

.index__main {

    border: none;

}

.nosotros {
    background: linear-gradient(0deg, rgba(91, 91, 91, 1) 0%, rgba(255, 255, 255, 1) 59%);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas:
        "nosotros1 nosotros2 nosotros3"
        "nosotros4 nosotros5 nosotros6";
    justify-items: center;
    background-color: white
}

.nosotros1 {
    grid-area: nosotros1;
    text-align: right;
    color: black;
    padding-right: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 400px;
    width: 100%;
    background-image: url(../imagenes/n4.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;



}

.redes__titulo {
    transform: rotate(358deg);
}

.nosotros2 {
    grid-area: nosotros2;
    height: 400px;
    width: 100%;
    background-image: url(../imagenes/n1.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transition: all 1s;


}

.nosotros2:hover {
    filter: grayscale(100%);
}

.nosotros3 {
    grid-area: nosotros3;
    text-align: left;
    color: black;
    padding-left: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 400px;
    width: 100%;
    background-image: url(../imagenes/n5.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;


}

.creaciones__titulo {
    transform: rotate(1deg);
}

.nosotros4 {
    grid-area: nosotros4;
    height: 400px;
    width: 100%;
    background-image: url(../imagenes/n2.jpg);
    background-position: center;
    background-size: cover;
    transition: all 1s;

}

.nosotros4:hover {
    filter: grayscale(100%);
}

.nosotros5 {
    grid-area: nosotros5;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 400px;
    width: 100%;
    background-image: url(../imagenes/n6.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;



}

.nosotros6 {
    grid-area: nosotros6;
    height: 400px;
    width: 100%;
    background-image: url(../imagenes/n3.jpg);
    background-position: center;
    background-size: cover;
    transition: all 1s;
}

.nosotros6:hover {
    filter: grayscale(100%);
}

.promesa {
    background-color: #464646;
    width: 100%;
    height: 200px;
    text-align: center;
    color: white;
    padding-left: 17%;
    padding-right: 17%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.footer {
    background-color: #2a2a2a;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    text-decoration: none;
    color: white;
    display: flex;
    justify-content: center;
}

.footer a {
    color: white;
}

.footer__direccion {

    text-align: right;
}

.footer__telefono {

    text-align: left;
}

/* SERVICOS ESCRITORIO */

.slide__servicios {
    height: 500px;
    background-image: url(../imagenes/slide-servicios.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    font-size: 70px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;

}

.servicios__titulo {

    font-size: 150px;
    text-align: center;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;

}

.servicios {
    padding-top: 20px;
    padding-bottom: 20px;
}

.carta {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}

/* PLANES ESCRITORIO */

.slide__planes {
    height: 500px;
    background-image: url(../imagenes/slide-planes.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    font-size: 70px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;

}

.planes__titulo {

    font-size: 150px;
    text-align: center;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;

}

.planes__main {
    background: linear-gradient(0deg, rgba(91, 91, 91, 1) 0%, rgba(125, 125, 125, 1) 59%);

}

.planes__contenedor {
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 400px;

}

.planes__contenedor div {
    width: 188px;
    height: 350px;
    margin-top: 50px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;

}

.basico {
    background-image: url(../imagenes/plan-basico.PNG);
}

.estandar {
    background-image: url(../imagenes/plan-standard.PNG);
}

.avanzado {
    background-image: url(../imagenes/plan-avanzado.PNG);
}

.premium {
    background-image: url(../imagenes/plan-premium.PNG);

}


.banner__llamada {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;
    height: 100px;

}

.planes__frase {
    color: white;
    margin-right: 30px;
}

.boton {
    background-color: black;
    height: 60px;
    border-style: inset;
    border-color: white;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;

}


/* CONTACTO ESCRITORIO */

.contacto {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 30px;
}

.contacto__titulo {
    margin-top: 20px;
    height: 100px;
    font-size: 40px;
    color: #5b5b5b;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}



.mapa {
    height: 400px;
}

.btn {

    background-color: #464646;
    border-color: #2a2a2a;
}

.btn:hover {
    background: rgba(125, 125, 125, 1);
    border-color: #2a2a2a;


}





/* VISTA TABLET 768PX */

@media screen and (max-width:992px) and (min-width:481px) {

    /* VISTA TABLET INDEX*/

    .digipartner__logo {
        width: 60px;
    }

    .header__nav a {
        margin-left: 8px;
        margin-right: 8px;
        justify-content: center;
    }

    .slide {
        height: 350px;
        font-size: 50px;
    }

    .nosotros {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-template-areas:
            "nosotros1 nosotros2"
            "nosotros4 nosotros3"
            "nosotros5 nosotros6";
    }

    .nosotros1 {
        text-align: center;
        font-size: 15px;
        height: 270px;
        width: 100%;

    }

    .nosotros2 {
        height: 270px;
        width: 100%;
    }

    .nosotros4 {
        height: 270px;
        width: 100%;
    }

    .nosotros3 {
        text-align: center;
        font-size: 15px;
        height: 270px;
        width: 100%;

    }

    .nosotros5 {
        text-align: center;
        font-size: 15px;
        height: 270px;
        width: 100%;

    }

    .nosotros6 {
        height: 270px;
        width: 100%;
    }

    .promesa {
        font-size: 11px;
        height: 160px;

    }

    .footer {
        font-size: 14px;
        text-align: center;
    }

    /* VISTA TABLET SERVICIOS*/

    .servicios {
        display: inline-flex;
        flex-direction: row;
        justify-content: space-around;

    }

    .slide__servicios {
        height: 350px;
        font-size: 50px;
    }

    .servicios__titulo {

        font-size: 90px;
        text-align: center;
        font-weight: bold;
        font-family: 'Roboto', sans-serif;
    }

    /*VISTA TABLET PLANES*/


    .slide__planes {
        height: 350px;
        font-size: 50px;
    }

    .planes__titulo {

        font-size: 90px;
        text-align: center;
        font-weight: bold;
        font-family: 'Roboto', sans-serif;
    }


    .planes__contenedor {
        height: 550px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-template-areas:
            "basico estandar"
            "avanzado premium"

    }

    .planes__contenedor div {
        height: 200px;
        width: auto;
    }

    .basico {
        grid-area: basico;

    }

    .estandar {
        grid-area: estandar;
    }

    .avanzado {
        grid-area: avanzado;
    }

    .premium {
        grid-area: premium;
    }

    /* VISTA TABLET CLIENTES */

    .slide__clientes {
        height: 350px;
        font-size: 50px;
    }

    .clientes__titulo {
        font-size: 90px;
        text-align: center;
        font-weight: bold;
        font-family: 'Roboto', sans-serif;
    }

    .clientes__contenedor {
        height: 1000px;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, 1fr);
        grid-template-areas:
            "cliente1 cliente2"
            "cliente3 cliente4"
            "cliente5 cliente6"
            "cliente7 cliente8"
    }



    /* VISTA TABLET CONTACTO */

    .mapa {
        height: 350px;
    }

    .contacto__titulo {
        margin-top: 20px;
        height: 100px;
        font-size: 20px;
    }


    .contacto {
        padding-bottom: 20px;
    }

}

/* VISTA MOBILE 480PX*/

@media screen and (max-width:480px) {

    /* VISTA MOBILE INDEX*/

    .header {
        height: 200px;
    }

    .slide {
        height: 300px;
        font-size: 50px;
    }

    .index__titulo {

        font-size: 70px;
        text-align: center;
        font-weight: bold;
        font-family: 'Roboto', sans-serif;
    }


    .nosotros {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, 1fr);
        grid-template-areas:
            "nosotros1"
            "nosotros2"
            "nosotros3"
            "nosotros4"
            "nosotros5"
            "nosotros6"
    }

    .nosotros1 {
        text-align: center;
        font-size: 15px;
        height: 230px;
        width: 100%;

    }

    .nosotros2 {
        height: 230px;
        width: 100%;
    }

    .nosotros3 {
        text-align: center;
        font-size: 15px;
        height: 230px;
        width: 100%;

    }


    .nosotros4 {
        height: 230px;
        width: 100%;
    }

    .nosotros5 {
        text-align: center;
        font-size: 15px;
        height: 230px;
        width: 100%;

    }

    .nosotros6 {
        height: 230px;
        width: 100%;
    }

    .promesa {
        padding-top: 10px;
        height: 200px;
        font-size: 11px;

    }

    .footer {
        font-size: 12px;
    }

    /*VISTA MOBILE SERVICIOS*/

    .carta {

        padding-top: 20px;
    }

    .slide__servicios {
        height: 300px;
        font-size: 50px;
    }

    .servicios__titulo {

        font-size: 50px;
        text-align: center;
        font-weight: bold;
        font-family: 'Roboto', sans-serif;
    }


    /* VISTA MOBILE PLANES */

    .slide__planes {
        height: 300px;
        font-size: 50px;
    }

    .planes__titulo {

        font-size: 50px;
        text-align: center;
        font-weight: bold;
        font-family: 'Roboto', sans-serif;
    }



    .planes__contenedor {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        height: 1100px;
    }

    .planes__contenedor div {
        justify-content: center;
        height: 200px;
        width: auto;

    }


    .banner__llamada {
        height: 200px;
        flex-direction: column;
    }

    .boton {
        margin-top: 30px;
    }

    /* VISTA MOBILE CLIENTES */

    .slide__clientes {
        height: 300px;
        font-size: 50px;
    }

    .clientes__titulo {

        font-size: 50px;
        text-align: center;
        font-weight: bold;
        font-family: 'Roboto', sans-serif;
    }

    .clientes__contenedor {
        height: 1800px;
        width: 480px;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(8, 1fr);
        grid-template-areas:
            "cliente1"
            "cliente2"
            "cliente3"
            "cliente4"
            "cliente5"
            "cliente6"
            "cliente7"
            "cliente8"

    }

    /* VISTA MOBILE CONTACTO */

    .mapa {
        height: 400px;
    }

    .contacto__titulo {
        margin-top: 30px;
        height: 100px;
        font-size: 20px;
    }


    .contacto {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-bottom: 20px;
        padding-left: 40px;
    }





}