
@media screen and (min-width:481px) and (max-width:992px){
/* VISTA TABLET INDEX*/

.digipartner__logo {
    width: 60px;
}

.header__nav {
    a {
        margin-left: 8px;
        margin-right: 8px;
        justify-content: center;
    }
}

.slide {
    height: 350px;
    font-size: 50px;
}

.nosotros {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas:
        "nosotros1 nosotros2"
        "nosotros4 nosotros3"
        "nosotros5 nosotros6";
}

.nosotros1 {
    text-align: center;
    font-size: 15px;
    height: 270px;
    width: 100%;

}

.nosotros2 {
    height: 270px;
    width: 100%;
}

.nosotros4 {
    height: 270px;
    width: 100%;
}

.nosotros3 {
    text-align: center;
    font-size: 15px;
    height: 270px;
    width: 100%;

}

.nosotros5 {
    text-align: center;
    font-size: 15px;
    height: 270px;
    width: 100%;

}

.nosotros6 {
    height: 270px;
    width: 100%;
}

.promesa {
    font-size: 11px;
    height: 160px;

}

.footer {
    font-size: 14px;
    text-align: center;
}

}

/* VISTA TABLET CLIENTES */

.slide__clientes {
    height: 350px;
    font-size: 50px;
}

.clientes__titulo {
    font-size: 90px;
    text-align: center;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
}

.clientes__contenedor {
    height: 1000px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas:
        "cliente1 cliente2"
        "cliente3 cliente4"
        "cliente5 cliente6"
        "cliente7 cliente8"
}


@media screen and (max-width:480px) {

    /* INDEX MOBILE*/

    .slide {
        height: 300px;
        font-size: 50px;
    }

    .index__titulo {

        font-size: 70px;
        text-align: center;
        font-weight: bold;
        font-family: 'Roboto', sans-serif;
    }


    .nosotros {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, 1fr);
        grid-template-areas:
            "nosotros1"
            "nosotros2"
            "nosotros3"
            "nosotros4"
            "nosotros5"
            "nosotros6";
    }

    .nosotros1 {
        text-align: center;
        font-size: 15px;
        height: 230px;
        width: 100%;



    }

    .nosotros2 {
        height: 230px;
        width: 100%;
    }

    .nosotros3 {
        text-align: center;
        font-size: 15px;
        height: 230px;
        width: 100%;

    }


    .nosotros4 {
        height: 230px;
        width: 100%;
    }

    .nosotros5 {
        text-align: center;
        font-size: 15px;
        height: 230px;
        width: 100%;

    }

    .nosotros6 {
        height: 230px;
        width: 100%;
    }

    .promesa {
        padding-top: 10px;
        height: 200px;
        font-size: 11px;

    }

    .footer {
        font-size: 12px;
    }

}


/* VISTA MOBILE CLIENTES */

.slide__clientes {
    height: 300px;
    font-size: 50px;
}

.clientes__titulo {

    font-size: 50px;
    text-align: center;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
}

.clientes__contenedor {
    height: 1800px;
    width: 480px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(8, 1fr);
    grid-template-areas:
        "cliente1"
        "cliente2"
        "cliente3"
        "cliente4"
        "cliente5"
        "cliente6"
        "cliente7"
        "cliente8"

}