@media screen and (max-width:992px) and (min-width:481px) {

    /* VISTA TABLET INDEX*/

    .digipartner__logo {
        width: 60px;
    }

    .header__nav {

        a {
            margin-left: 8px;
            margin-right: 8px;
            justify-content: center;
        }

    }

    .slide {
        height: 350px;
        font-size: 50px;
    }

    .nosotros {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-template-areas:
            "nosotros1 nosotros2"
            "nosotros4 nosotros3"
            "nosotros5 nosotros6";
    }

    .nosotros1 {
        text-align: center;
        font-size: 15px;
        height: 270px;
        width: 100%;

    }

    .nosotros2 {
        height: 270px;
        width: 100%;
    }

    .nosotros4 {
        height: 270px;
        width: 100%;
    }

    .nosotros3 {
        text-align: center;
        font-size: 15px;
        height: 270px;
        width: 100%;

    }

    .nosotros5 {
        text-align: center;
        font-size: 15px;
        height: 270px;
        width: 100%;

    }

    .nosotros6 {
        height: 270px;
        width: 100%;
    }

    .promesa {
        font-size: 11px;
        height: 160px;

    }

    .footer {
        font-size: 14px;
        text-align: center;
    }

}


@media screen and (max-width:480px) {

    /* VISTA MOBILE INDEX*/

    .header {
        height: 200px;
    }

    .slide {
        height: 300px;
        font-size: 50px;

        h1 {

            font-size: 70px;
            text-align: center;
            font-weight: bold;
            font-family: 'Roboto', sans-serif;
        }

    }



    .nosotros {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, 1fr);
        grid-template-areas:
            "nosotros1"
            "nosotros2"
            "nosotros3"
            "nosotros4"
            "nosotros5"
            "nosotros6"
    }

    .nosotros1 {
        text-align: center;
        font-size: 15px;
        height: 230px;
        width: 100%;

    }

    .nosotros2 {
        height: 230px;
        width: 100%;
    }

    .nosotros3 {
        text-align: center;
        font-size: 15px;
        height: 230px;
        width: 100%;

    }


    .nosotros4 {
        height: 230px;
        width: 100%;
    }

    .nosotros5 {
        text-align: center;
        font-size: 15px;
        height: 230px;
        width: 100%;

    }

    .nosotros6 {
        height: 230px;
        width: 100%;
    }

    .promesa {
        padding-top: 10px;
        height: 200px;
        font-size: 11px;

    }

    .footer {
        font-size: 12px;
    }

}