@media screen and (min-width:481px) and (max-width:992px) {
    /* VISTA TABLET INDEX*/

    .digipartner__logo {
        width: 60px;
    }

    .header__nav {
        a {
            margin-left: 8px;
            margin-right: 8px;
            justify-content: center;
        }
    }

    .slide {
        height: 350px;
        font-size: 50px;
    }

    .nosotros {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-template-areas:
            "nosotros1 nosotros2"
            "nosotros4 nosotros3"
            "nosotros5 nosotros6";
    }

    .nosotros1 {
        text-align: center;
        font-size: 15px;
        height: 270px;
        width: 100%;
        padding-left: 30px;
        padding-right: 30px;
    
    }

    .nosotros2 {
        height: 270px;
        width: 100%;
    }

    .nosotros4 {
        height: 270px;
        width: 100%;
    }

    .nosotros3 {
        text-align: center;
        font-size: 15px;
        height: 270px;
        width: 100%;
        padding-left: 30px;
        padding-right: 30px;
    
    }

    .nosotros5 {
        text-align: center;
        font-size: 15px;
        height: 270px;
        width: 100%;
    }

    .nosotros6 {
        height: 270px;
        width: 100%;
    }

    .promesa {
        font-size: 11px;
        height: 160px;
    }

    .footer {
        font-size: 14px;
        text-align: center;
    }



    /* VISTA TABLET SERVICIOS*/

    .servicios {
        display: inline-flex;
        flex-direction: row;
        justify-content: space-around;
    }

    .slide__servicios {
        height: 350px;
        font-size: 50px;

        h1 {
            font-size: 90px;
            text-align: center;
            font-weight: bold;
            font-family: 'Roboto', sans-serif;
        }
    }

    /*VISTA TABLET PLANES*/


    .slide__planes {
        height: 350px;
        font-size: 50px;

        h1 {
            font-size: 90px;
            text-align: center;
            font-weight: bold;
            font-family: 'Roboto', sans-serif;
        }
    }


    .planes__contenedor {
        height: 600px;
        display: grid;
        align-items: center;
        justify-items: center;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-template-areas:
            "basico estandar"
            "avanzado premium";

        div {
            height: 250px;
            width: 300px;
            display: grid;
            align-items: center;
                }
    }

    .basico {
        grid-area: basico;    
    }

    .estandar {
        grid-area: estandar;
    }

    .avanzado {
        grid-area: avanzado;
    }

    .premium {
        grid-area: premium;
    }

    .banner__llamada{
        margin-top: 10px;
    }



    /* VISTA TABLET CLIENTES */

    .slide__clientes {
        height: 350px;
        font-size: 50px;

        h1 {
            font-size: 90px;
            text-align: center;
            font-weight: bold;
            font-family: 'Roboto', sans-serif;
        }
    }


    .clientes__contenedor {
        height: 1200px;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, 1fr);
        grid-template-areas:
            "cliente1 cliente2"
            "cliente3 cliente4"
            "cliente5 cliente6"
            "cliente7 cliente8"
    }

    .CasaMolle{

        p {padding-left: 50px;
            padding-right: 50px;
    
        }
    }

    /* VISTA TABLET CONTACTO */

    .mapa {
        height: 350px;
    }

    .contacto__titulo {
        margin-top: 20px;
        height: 100px;
        font-size: 20px;
    }


    .contacto {
        padding-bottom: 20px;
    }

}

@media screen and (max-width:480px) {

    /* INDEX MOBILE*/

    .slide {
        height: 200px;

        h1 {
            font-size: 70px;
            text-align: center;
            font-weight: bold;
            font-family: 'Roboto', sans-serif;
        }
    }


    .nosotros {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, 1fr);
        grid-template-areas:
            "nosotros1"
            "nosotros2"
            "nosotros3"
            "nosotros4"
            "nosotros5"
            "nosotros6";
    }

    .nosotros1 {
        text-align: center;
        font-size: 15px;
        height: 230px;
        width: 100%;
        padding: 0px;

        p {
            padding-left: 20px;
            padding-right: 20px;
        }
    }

    .nosotros2 {
        height: 230px;
        width: 100%;
    }

    .nosotros3 {
        text-align: center;
        font-size: 15px;
        height: 230px;
        padding: 0px;

        p {
            padding-left: 20px;
            padding-right: 20px;
        }
    }


    .nosotros4 {
        height: 230px;
        width: 100%;
    }

    .nosotros5 {
        text-align: center;
        font-size: 15px;
        height: 230px;
        width: 100%;

        p {
            padding-left: 20px;
            padding-right: 20px;
        }

    }

    .nosotros6 {
        height: 230px;
        width: 100%;
    }

    .promesa {
        padding-top: 10px;
        padding-left: 0px;
        padding-right: 0px;
        height: 200px;
        font-size: 10px;

        h3 {
            padding-left: 20px;
            padding-right: 20px;
        }
    }

    .footer {
        font-size: 12px;

        li {
            padding: 0px 10px;
        }
    }

    .footer__direccion {
        text-align: center;
    }

    .footer__telefono {
        text-align: center;
        padding-top: 4px;
    }

    .btn--copyright {
        padding-top: 4px;

    }

    .FooterContact {
        display: flex;
        flex-direction: column;
        text-align: center;
    }


    /*SERVICIOS MOBILE*/

    .carta {
        padding-top: 20px;
    }

    .card {
        width: 16rem;
    }

    .slide__servicios {
        height: 200px;

        h1 {
            font-size: 50px;
            text-align: center;
            font-weight: bold;
            font-family: 'Roboto', sans-serif;
        }
    }


    /* PLANES MOBILE */

    .slide__planes {
        height: 200px;

        h1 {
            font-size: 50px;
            text-align: center;
            font-weight: bold;
            font-family: 'Roboto', sans-serif;
        }
    }



    .planes__contenedor {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        height: 1200px;

        div {
            justify-content: center;
            height: 240px;
            width: auto;
        }
    }

    .basico {
        @include PlanesBox;
        margin-top: 50px;
        margin-left: 50px;
        margin-right: 50px;
        padding: 10px;
    }

    .estandar {
        @include PlanesBox;
        margin-top: 50px;
        margin-left: 50px;
        margin-right: 50px;
        padding: 10px;

    }

    .avanzado {
        @include PlanesBox;
        margin-top: 50px;
        margin-left: 50px;
        margin-right: 50px;
        padding: 10px;

    }

    .premium {
        @include PlanesBox;
        margin-top: 50px;
        margin-left: 50px;
        margin-right: 50px;
        padding: 10px;

    }


    .banner__llamada {
        height: 220px;
        flex-direction: column;

        h2 {
            text-align: center;
            margin: 0px;
        }
    }

    .boton {
        margin-top: 30px;
    }



    /* CLIENTES MOBILE */

    .slide__clientes {
        height: 200px;

        h1 {
            font-size: 50px;
            text-align: center;
            font-weight: bold;
            font-family: 'Roboto', sans-serif;
        }
    }

    .clientes__contenedor {
        height: 2300px;
        width: 480px;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(8, 1fr);
        grid-template-areas:
            "cliente1"
            "cliente2"
            "cliente3"
            "cliente4"
            "cliente5"
            "cliente6"
            "cliente7"
            "cliente8"
    }

    .CasaMolle{

        p {padding-left: 60px;
            padding-right: 60px;
        }
    }


    /* CONTACTO MOBILE*/

    .mapa {
        height: 400px;
    }

    .contacto__titulo {
        margin-top: 0px;
        height: 100px;

        h1 {
            font-weight: bold;

        }

    }


    .contacto {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-bottom: 20px;
        padding-left: 15px;
        padding-right: 15px;
    }
}