@import "variables";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a:link,
a:visited,
a:active {
    text-decoration: none;
}

/* INDEX ESCRITORIO */

body {
    font-family: 'Roboto', sans-serif;
}

.container-fluid {
    font-family: 'Roboto', sans-serif;
}

.digipartner__logo {
    margin-top: 20px;
}


.header {
    height: 200px;
}


.slide {
    height: 500px;
    font-size: 70px;
    background-image: url(../imagenes/agencia-home.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: $colortitulo;
    display: flex;
    align-items: center;
    justify-content: center;

    h1 {
        font-size: 150px;
        text-align: center;
        font-weight: bold;
        font-family: 'Roboto', sans-serif;
    }


}

.nosotros {
    background: linear-gradient(0deg, rgba(91, 91, 91, 1) 0%, rgba(255, 255, 255, 1) 59%);
    display: grid;

    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas:
        "nosotros1 nosotros2 nosotros3"
        "nosotros4 nosotros5 nosotros6";
    justify-items: center;
    background-color: white;

}

@mixin NosConfig {
    height: map-get($nosotros__estilos, altura);
    width: map-get($nosotros__estilos, ancho);
    background-position: map-get($nosotros__estilos, FondoCentrado);
    background-size: map-get($nosotros__estilos, TamanoFondo);
    background-repeat: map-get($nosotros__estilos, NoRepetir);
}

.nosotros1 {
    grid-area: nosotros1;
    text-align: right;
    color: black;
    padding-right: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(../imagenes/n4.png);
    @include NosConfig;

    h1 {
        transform: rotate(358deg);
        font-weight: bold;

    }
}



.nosotros2 {
    grid-area: nosotros2;
    background-image: url(../imagenes/n1.jpg);
    transition: all 1s;
    @include NosConfig;

    &:hover {
        filter: grayscale(100%);
    }
}

.nosotros3 {
    grid-area: nosotros3;
    text-align: left;
    color: black;
    padding-left: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(../imagenes/n5.png);
    @include NosConfig;

    h2 {
        transform: rotate(1deg);
        font-weight: bold;
    }
}


.nosotros4 {
    grid-area: nosotros4;
    background-image: url(../imagenes/n2.jpg);
    transition: all 1s;
    @include NosConfig;

    &:hover {
        filter: grayscale(100%);
    }
}

.nosotros5 {
    grid-area: nosotros5;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-left: 30px;
    padding-right: 30px;
    background-image: url(../imagenes/n6.png);
    @include NosConfig;

    h1 {
        font-weight: bold;

    }
}

.nosotros6 {
    grid-area: nosotros6;
    background-image: url(../imagenes/n3.jpg);
    transition: all 1s;
    @include NosConfig;


    &:hover {
        filter: grayscale(100%);
    }
}

.promesa {
    background-color: #464646;
    width: 100%;
    height: 200px;
    text-align: center;
    color: $colortitulo;
    padding-left: 17%;
    padding-right: 17%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer {
    background-color: #2a2a2a;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    text-decoration: none;
    display: block;
    justify-content: center;

    li {
        list-style: none;
        display: inline-block;
        padding: 0px 25px;
        font-size: medium;
    }

    a {
        &:hover {
            color: #c876cb;
        }
    }
}

.footer__direccion {
    text-align: right;
}

.footer__telefono {
    text-align: left;
}

/* MAPA */

$redes: (facebook: #ffffff,
    instagram: #dcdcdc,
    linkedin: #bdbdbd,
    direccion: #a7a7a7,
    telefono:#959595,
    copyright:#919192,
);

/* BUCLE MAPA */
@each $red,
$color in $redes {
    .btn--#{$red} {
        color: $color;
    }


}


/* SERVICOS ESCRITORIO */

.slide__servicios {
    @extend .slide;
    background-image: url(../imagenes/slide-servicios.png);

    h1 {

        font-size: 150px;
        text-align: center;
        font-weight: bold;
        font-family: 'Roboto', sans-serif;
    }
}

.servicios {
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    justify-content: space-evenly;
}

.carta {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}

.card {
    width: 20rem;
    border: none !important;

    img {
        width: 70%;
        display: flex;
        flex-direction: row;
        align-self: center;
    }

    div {
        text-align: center;
        width: 100%;
        display: flex;
        flex-direction: column;

        h2 {
            font-weight: bold;
            background: -webkit-linear-gradient(#9f63ba, #7faad4);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }
}


/* PLANES ESCRITORIO */

.slide__planes {
    @extend .slide;
    background-image: url(../imagenes/slide-planes.png);

    h1 {

        font-size: 150px;
        text-align: center;
        font-weight: bold;
        font-family: 'Roboto', sans-serif;

    }
}

.planes__main {
    background: linear-gradient(0deg, rgba(91, 91, 91, 1) 0%, rgba(125, 125, 125, 1) 59%);

}

.planes__contenedor {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: 380px;

    h1 {
        font-weight: bold;
        font-size: 35px;
    }
    h2 {
        font-weight: bold;
    }

}


@mixin PlanesBox {
    width: 220px;
    height: 300px;
    margin-top: 50px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: $colortitulo;
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
}



.basico {
    @include PlanesBox;
}

.estandar {
    @include PlanesBox;
}

.avanzado {
    @include PlanesBox;
}

.premium {
    @include PlanesBox;
}



.banner__llamada {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;
    height: 100px;

    h2 {
        color: white;
        margin-right: 30px;
    }

}

.boton {
    background-color: black;
    height: 60px;
    border-style: inset;
    border-color: white;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;

}


/* CLIENTES ESCRITORIO */

.slide__clientes {
    @extend .slide;
    background-image: url(../imagenes/slide-clientes.png);

    h1 {
        font-size: 150px;
        text-align: center;
        font-weight: bold;
        font-family: 'Roboto', sans-serif;
    }
}



.clientes__main {
    background-color: rgba(91, 91, 91, 1);

}

.clientes__contenedor {
    background: linear-gradient(0deg, rgba(255, 255, 255, 1) 16%, rgba(203, 203, 203, 1) 92%);
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: "cliente1 cliente2 cliente3 cliente4"
        "cliente5 cliente6 cliente7 cliente8";
padding-top: 50px;
    div {
        width: 150px;
        height: 150px;
        align-self: flex-start;
        justify-self: center;
        font-size: 100px;
        font-weight: bold;
        font-family: 'Roboto', sans-serif;
        text-align: center;
        color: white;
    }



}


.CasaMolle{
    grid-area: cliente1;
    width: 100%;
    height: 260px;
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    align-items: center;
    text-align: center;
    h1{
        padding-top: 10px;
    }
    p {font-size: 15px;

    }
}

.cliente-1 {
    background-image: url(../imagenes/casamolle-logo.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transition: all 1s;


    &:hover {
        filter: grayscale(100%);
    }
}




/* BUCLE */

@for $i from 2 through 8 {
    .cliente-#{$i} {
        grid-area: cliente#{$i};
        background-color: #5b5b5b;
    }
}



.boton {
    background-color: #2a2a2a;
    height: 60px;
    border-style: inset;
    border-color: white;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;

    &:hover {
        background: #464646;
    }

    a {
        color: white;
    }
}

/* CONTACTO ESCRITORIO */

.contacto {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 30px;
}

.contacto__titulo {
    margin-top: 20px;
    height: 100px;
    font-size: 40px;
    color: #5b5b5b;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    h1{
        font-weight: bold;
    }
}



.mapa {
    height: 400px;
}

.btn {

    background-color: #464646;
    border-color: #2a2a2a;

    &:hover {
        background: rgba(125, 125, 125, 1);
        border-color: #2a2a2a;


    }
}

@import "mediaqueries";